 <p class="tab" id="paragraphs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque nam dolorum
            officia mollitia,
            quisquam ullam modi consectetur. Culpa adipisci facere similique eum velit, officiis quibusdam excepturi quae
            dicta ipsam asperiores at atque dolor in consectetur fugiat libero laborum nam suscipit enim. Nemo fuga culpa
            voluptatem possimus quisquam saepe omnis repellendus rem necessitatibus autem modi, nihil aut reprehenderit
            similique blanditiis porro eligendi deleniti. Suscipit rerum sit iusto!</p>
          