<!--Ad placeholders-->
    <div class="col-4 ">
      <div class="ad text-center" id="ad00">Advertisement</div>
      <div class="ad1 text-center" id="ad00">Advertisement</div>
      <div class="ad text-center" id="ad01">Advertisement</div>
      <div class="ad1 text-center" id="ad01">Advertisement</div>
      <div class="sidebar">
        <!--Other Articles-->
        <div class="side-title text-center">
          <h7>Recently Featured</h7>
        </div>
        <div class="card card3 link">
          <img src="../images/sakura.jpeg" alt="" class="card-img-top contain link">
          <a href="sakuraTree">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Sakura Tree</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
        <div class="card card3 link">
          <img src="../images/coconut.jpeg" alt="" class="card-img-top contain link">
          <a href="coconutTrees">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Coconut Trees in Industry</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>

        <div class="side-title text-center">
          <h7>Most Viewed</h7>
        </div>
        <div class="card card3 link">
          <img src="../images/physalis.jpeg" alt="" class="card-img-top contain link">
          <a href="physalisTree">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Physalis Tree Never Stops</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
        <div class="card card3 link">
          <img src="../images/stump.jpeg" alt="" class="card-img-top contain link">
          <a href="treeAge">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Tree Age and How to Tell</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
        <div class="card card3 link">
          <img src="../images/Orange tree.jpeg" alt="" class="card-img-top contain link">
          <a href="orangeTree">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Orange Tree Hybridization</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
        <div class="card card3 link">
          <img src="../images/apple tree.jpeg" alt="" class="card-img-top contain link">
          <a href="appleTree">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Apple Tree Splicing!</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
        <div class="card card3 link">
          <img src="../images/cherry blossom.jpeg" alt="" class="card-img-top contain link">
          <a href="cherryBlossoms">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Cherry Blossoms</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
        <div class="card card3 link">
          <img src="../images/Maple.jpeg" alt="" class="card-img-top contain link">
          <a href="mapleTree">
            <div class="card-body p-0 link">
              <h2 class="card-title link">Maple Tree Life Cycle</h2>
              <p class="card-text link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure voluptatem
                minima voluptates fugiat. Libero velit eius hic aliquid blanditiis sit molestias obcaecati ipsam,
                tenetur ipsum. Eligendi, assumenda laborum iste ipsa veritatis corrupti culpa nisi corporis facilis quas
                dolores unde ipsam maiores odit voluptate, quia labore optio, amet doloremque? Quis, eveniet nobis
                impedit quaerat sed quod dolores deleniti similique, autem accusantium accusamus. Exercitationem
                deserunt, similique laboriosam impedit temporibus placeat, ab ea minus voluptate molestias blanditiis
                magnam provident. Blanditiis quibusdam explicabo, consequuntur repellat voluptas, quaerat repellendus ex
                illum iste quia accusamus adipisci, tenetur quasi architecto? Repudiandae laboriosam, fugiat quod
                possimus totam earum. Illo odio nulla laborum sunt earum facilis vitae magnam et nobis vel! Voluptate
                maxime accusantium deserunt quisquam, dignissimos adipisci illo corrupti mollitia cumque dicta soluta,
                placeat ratione obcaecati hic sunt aperiam veritatis numquam fugit earum suscipit magni natus in
                voluptatibus tempore! Illo fugit rerum cupiditate, quod quo ad sint nihil qui optio? Ab facilis et
                similique odit saepe laborum necessitatibus molestias exercitationem at adipisci aliquid distinctio
                sint, magnam tenetur quibusdam porro, dicta, qui doloremque. Dolorum aliquam saepe voluptatem expedita
                vitae ab ipsum similique earum dolore id, ea quia, soluta obcaecati aspernatur! Deleniti explicabo
                magnam enim maxime incidunt, harum deserunt?</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>