<div class="footer">
    <div class="container-fluid row p-0 m-0 icon">
      <div class="col-4 icon">
        <a href="#">
          <i class="fab fa-facebook icon1"></i>
        </a>
      </div>
      <div class="col-4 icon">
        <a href="#">
          <i class="fab fa-instagram icon1"></i>
        </a>
      </div>
      <div class="col-4 icon">
        <a href="#">
          <i class="fab fa-twitter icon1"></i>
        </a>
      </div>
    </div>
  </div>
</body>

</html>