<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.css">
  <script src="main.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</head>

<body class="container-fluid px-0">
	

  <!--background image-->
  <div class="img1-div d-flex flex-wrap">
    <img src="<%= image %>" alt="Sequoias" class="col-12 position-fixed image1 p-0 h-100 contain">
  </div>
  <!--Header-->
  <div class="navbar navbar-expand col-12 p-0 container-fluid">

	<div class="offset-sm-1 co-sm-3">
      <h1 class="name"><a href="/" class="link">&ltTreeManBlog&gt</a></h1>
    </div>
    <div class="offset-sm-6">
        <h2 class="sign_up text-center" id="sign_up"><a href="sign_up">Sign Up</a></h2>
	  </div>
	  <div class="pl-2">
        <h2 class="log_in text-center" id="log_in"><a href="log_in">Log In</a></h2>
    </div>

    <div class="col-md-1"></div>

  </div>
