<% include partials/header %>

  <div class="w-100 image-container">
    <img src="<%= image %>" alt="" class="image10 offset-2 col-8 contain">
  </div>

  <% include partials/dummyPage %>

  <% include partials/footer %>